#section1{
	margin-bottom:50px;
}	



#my-homework img{
  width: 300px;
  height:400px;
}
.my-home-inner{
  width: 1040px;
  overflow: hidden;
  margin-top:30px;
}
.my-home-inner ul li{
  float: left;
  margin-right:20px;
  list-style-type: none;
}
.feature-content{
	height: 623px;
}
.feature-content img{
  width: 360px;
  height: 180px;
}
.feature-content #CSS,#javascript{
	padding-bottom:57px;
}